<div class="main users-show">
  <div class="container">
    <div class="users-show-item">
      <p>ユーザー詳細画面です</p>
      <%= @show.name %>
      <%= @show.email %>
      <%= link_to('編集', "/users/#{@show.id}/edit") %>
    </div>
  </div>
</div>